<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <body>
        <h1 style="font-weight: bold">Calculation Report</h1>
        <p>Estimated payout based on source data.</p>
        <br />
        <h2 style="font-weight: bold">Salary Information</h2>
        <table>
            <tr>
                <td style="font-weight: bold">Name:</td>
                <td>[NAME]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Date:</td>
                <td>[DATE]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Employee:</td>
                <td>[EMPLOYEE]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Function:</td>
                <td>[FUNCTION]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Experience:</td>
                <td>[EXPERIENCE]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Region:</td>
                <td>[REGION]</td>
            </tr>
        </table>
        <br /><br />
        <h2 style="font-weight: bold">Result Calculation</h2>
        <table>
            <tr>
                <td style="font-weight: bold">Min salary:</td>
                <td>[MINSALARY]</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Max salary:</td>
                <td>[MAXSALARY]</td>
            </tr>
        </table>
        <br /><br />
        <h2 style="font-weight: bold">Contact us</h2>
        <table>
            <tr>
                <td><h3>Address:</h3></td>
                <td><h3>Business hours:</h3></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>220056, Minsk, Belarus,</td>
                            </tr>
                            <tr>
                                <td>Starinovskaya str., 31-16N</td>
                            </tr>
                            <tr>
                                <td>UNP 193200184</td>
                            </tr>
                            <tr>
                                <td><br/></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>Mon – Fri</td>
                                <td>9:00 – 17:00</td>
                            </tr>
                            <tr>
                                <td>Weekends</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td>+375 29 607 94 57</td>
                            </tr>
                            <tr>
                                <td>Email address</td>
                                <td>info@wedextim.by</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h3>
                        
                    </h3>
                </td>
                <td>
                    <!--<h3>
                        
                    </h3>-->
                </td>
            </tr>
        </table>
    </body>
</head>
</html>
